
<div class="panel panel-default">
  <div class="panel-body">
  	<h4>Your referral link is <a href="http://localhost:3000/register/{{user._id}}">http://localhost:3000/register/{{user._id}}</a></h4>
  	<p>Share this link with your friends to ponvert them!</p>
  </div>
</div>


<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Ponz Pointz</h3>
  </div>
  <div class="panel-body">
    {{user.points}}
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Your Ponzverts</h3>
  </div>
  <div class="panel-body">
		<ul class="list-group">
			{{#each user.children as |child1|}}
				<li class="list-group-item" style="width: 35%"><span class="badge">40</span> {{child1.username}} ponverted on {{child1.prettydate}}</li>
				<ul>
				{{#each child1.children as |child2|}}
					<li class="list-group-item" style="width: 40%"><span class="badge">20</span> {{child2.username}} ponverted on {{child2.prettydate}}</li>
					<ul>
					{{#each child2.children as |child3|}}
						<li class="list-group-item" style="width: 45%"><span class="badge">10</span> {{child3.username}} ponverted on {{child3.prettydate}}</li>
					{{/each}}
					</ul>
				{{/each}}
				</ul>
			{{/each}}
		</ul>
  </div>
</div>


